.App {
  text-align: center;
  display: grid;
  place-items: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards-row {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 2%;
}

.good-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 3% 0%;
}
.good-card img {
  width: 50%;
  height: auto;
}

.good-card p {
  margin: 0;
}
